---
import { Image } from "astro:assets";
import Card from "@/components/ui/Card.astro";

import gob from "@/assets/icon6.svg";
import wob from "@/assets/icon7.svg";

interface Props {
  index: number;
  titleTop: string;
  titleBottom: string;
  img: any;
  alt: string;
  link: string;
}

const { index, titleTop, titleBottom, img, alt, link } = Astro.props as Props;

const cardStyles = {
  1: 'bg-gray',
  2: 'bg-green',
  3: 'bg-dark text-gray'
};

const titleStyles = {
  1: 'greenhead',
  2: 'whitehead',
  3: 'whitehead'
};

const cardClass = cardStyles[index as keyof typeof cardStyles] || cardStyles[3];
const titleClass = titleStyles[index as keyof typeof titleStyles] || titleStyles[3];
const iconSrc = index === 1 || index === 2 ? gob : wob;
---

<Card isUnderline={true}>
  <div
    class={`h-[300px] w-full sm:h-full lg:gap-[60px] grid custom-grid lg:grid-cols-2 lg:grid-rows-1 p-8 sm:p-[50px] rounded-[45px] ${cardClass}`}
  >
    <h3 class="flex flex-col col-span-2 lg:col-span-1">
      <span class={`w-[fit-content] ${titleClass}`}>{titleTop}</span>
      <span class={`w-[fit-content] ${titleClass}`}>{titleBottom}</span>
    </h3>
    <picture
      class="w-full h-full row-span-1 order-1 lg:order-none lg:row-span-2 flex justify-center items-center"
    >
      <Image
        src={img}
        alt={alt}
        class="h-[100px] w-auto sm:h-auto sm:w-3/4 object-cover"
      />
    </picture>
    <div class="flex items-end">
      <a href={link} class="flex items-center gap-3.5">
        <Image src={iconSrc} alt={`${alt} icon`} />
        <span class="hidden sm:block">Service Info</span>
      </a>
    </div>
  </div>
</Card>

<style>
  .custom-grid {
    grid-template: auto auto;
  }
</style>
